<template name="MasterLayout">

	<div class="container">
	   

	    <div class="row">
	      <ul class="breadcrumb">
	        <li>
	          <a href="/">Home</a>
	          <span class="divider">|</span>
	        </li>
	        <li>
					{{#linkTo route="profile"}}Profile
					{{/linkTo}}
					<span class="divider">|</span>
				</li>
				<li>
					{{#linkTo route="vote"}}Voting
					{{/linkTo}}
					<span class="profile_list">|</span>
				</li>
				<li>
					{{#linkTo route="results"}}Results
					{{/linkTo}}	
					<span class="profile_list">|</span>

				</li>
				<li>
					{{#linkTo route="recommend"}}Recommendations
					{{/linkTo}}	
				</li>				

	        
	      </ul>
	    </div>

	     <div class="row">
	      <div class="login">
	        	{{> loginButtons}}
	      </div>
	    </div>

	    <div class="row">
	      {{> yield}}
	    </div>
	 </div>


</template>
